.color-box {
  height: 100px;
  width: 125px;
  margin-bottom: 10px;
  cursor: pointer;
}

.color-box:hover {
  opacity: 0.9;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hex-code {
  color: #4b4a4a;
  font-size: 19px;
  line-height: 24px;
  vertical-align: center;
}

.material-icons {
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.2s;
}

.edit:hover {
  color: #4caf50;
}

.delete:hover {
  color: #e93333;
}
