.color-grid {
  list-style: none;
}

h1 {
  margin-bottom: 30px;
}

li {
  display: inline-block;
  margin-right: 1em;
}

.palette-name-editor {
  border: none;
  width: 100%;
  outline: none;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.create-palette-hyperlink {
  color: #4caf50;
  cursor: pointer;
}

.create-palette-hyperlink:hover {
  text-decoration: underline;
}
