<app-edit-color-modal></app-edit-color-modal>
<div *ngIf="palette" [@fade-in]="sidebarService.isVisible ? 'shorter' : 'longer'">
  <input
  type="text"
  class="palette-name-editor"
  spellcheck="false"
  [(ngModel)]="palette.name"
  appFocusListener (focusIn)="storeCurrentPaletteName()"
  (focusOut)="changePaletteName()"
  >
  <ul class="color-grid">
    <li *ngFor="let color of palette.colors">
      <app-color [color]="color"></app-color>
    </li>
  </ul>
</div>
<ng-container *ngIf="!palette">
  <h1>No palettes!</h1>
  <p>You have no palettes right now. Why don't you 
    <a class="transparent" (click)="paletteService.createPalette()">
      <span class="create-palette-hyperlink">create one?</span>
    </a>
  </p>
</ng-container>
