<app-edit-color-modal></app-edit-color-modal>
<ng-container *ngIf="palette">
  <input
  #paletteName
  type="text"
  class="palette-name-editor"
  spellcheck="false"
  [(ngModel)]="newName"
  appFocusListener (focusIn)="storeCurrentPaletteName()"
  (focusOut)="changePaletteName(paletteName.value)"
  (keyUp.enter)="changePaletteName(paletteName.value)"
  >
  <ul class="color-grid">
    <li *ngFor="let color of palette.colors">
      <app-color [color]="color"></app-color>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="!palette">
  <h1>No palettes!</h1>
  <p>You have no palettes right now. Why don't you 
    <a class="transparent" (click)="paletteService.createPalette()">
      <span class="create-palette-hyperlink">create one?</span>
    </a>
  </p>
</ng-container>
