main {
  display: flex;
}

.palette {
  padding-top: 20px;
  padding-left: 15px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

@media only screen and (max-device-width: 1024px){
    .sidebar {
      max-width: 50%;
    }
}

@media only screen and (min-device-width: 1025px) {
    .sidebar {
      max-width: 15%;
    }
}

main {
  height: 100%;
}
