main {
  display: flex;
}

.palette {
  padding-top: 20px;
  padding-left: 15px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  height: 100%;
}
