.container {
  padding: 15px 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.green {
  background-color: #dcfed6;
  color: #155b0b;
}

.red {
  background-color: #f1dcde;
  color: #801e1e;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.undo-action {
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #465256;
  transition: all 0.2s;
}

.undo-action:hover {
  color: black;
}
